form label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
    color: #5F5A5A;
    display: inline-block;
}

form input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 278px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #dcdbd8;
    border-radius: 5px;
}

.alert-error {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: lighter;
    color: #ff0000;
}